body {
    margin: 0 auto;
    color: white;
    font-family: Calibri;
}

.cover-page {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/portada.jpg);
    height: 100vh;
}

.document-title {
    position: absolute;
    top: 0%;
    background-color: white;
    width: 100%;
    animation: titleAnimation 3s forwards;
    animation-delay: 0.8s;
    opacity: 0;
    font-size: 55px;
    color: rgb(34,115,170);
}

.document-logos {
    position: absolute;
    top: 50%;
}

.logo {
    height: 0px;
    margin-left: 25px;
    opacity: 0;
}

#CSS3_logo {    
    animation: logoAnimation 2s forwards;
    animation-delay: 2s;
}

#JS_logo {    
    animation: logoAnimation 2s forwards;
    animation-delay: 3s;
}

#HTML5_logo {    
    animation: logoAnimation 2s forwards;
    animation-delay: 1s;
}

.document-subtitle {
    position: absolute;
    top: 65%;
    left:-105%;
    background-color: white;
    width: 100%;
    padding-bottom: 25px;
    opacity: 0.75;
    color: rgb(34,115,170);
    animation: subtitleAnimation 3s forwards;
    animation-delay: 1s;
}

.cite {
    font-size: 20px;
}

.main-menu {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    opacity: 0.75;
}

.main-menu > .main-menu-list {
    list-style-type: none;
    margin: 0;
    text-align: center;
    font-size: 0;
}

.main-menu > .main-menu-list > .main-menu-item {
    display: inline-block;
    font-size: 16px;
}

.main-menu > .main-menu-list > .main-menu-item  a {
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    opacity: 1;
    color:black;
}

.main-section {
    padding-top: 50px;
    background-color: rgb(34,115,170);
}

.section-title {
    width: 100%;
    margin: 0px;
    color:black;
    background-image: url(../images/portada.jpg);
}

article {
    padding-top: 20px;
}

.higher-studies-list {
    list-style-type: none;
}

.higher-studies-list > .higher-studies-item{
   padding: 5px;
}

.higher-studies-list > .higher-studies-item > table {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: 14px;
}

.higher-studies-list > .higher-studies-item > table .image-cell {
    width: 100px;
    text-align: center;
}

.contact-form {
    background-color: white;
    margin-right: 100px;
    margin-left: 100px;
    padding: 5px;
    border-radius: 15px; 
    color: black;
    text-align: left;
}

.contact-form  input {
    color: black;
}

.hiden-row {
    visibility: hidden;
}

.footer {
    height: 20px;
    padding: 10px;
    background-color: white;
    text-align: center;
    color: black;
}

.logo-image {
    width: 100px;
}

#job-logo {
    background-color: white;
    text-align: center;
    padding-top: 5px;
}

.flex-content {
    display: flex;
    flex-flow: row;
}

.flex-item {
    padding: 25px;
    flex-grow: 1;
    flex-basis: 0;
}

.mi-foto {
    margin-left: 25%;
    margin-top: 25px;
    border-radius: 25px;
}

.plain-text {
    text-align: justify;
}

.center-text {
    width: 75%;
    margin: 0 auto;
}

.main-text {
    width: 50%;
    padding: 10px;
}

.task-text {
    text-align: center;
    width: 40%;
    padding: 20px;
    margin: 0 auto;
}

.insert-task {
    padding-bottom: 10px;
    text-align: center;
}

.tasks-list {
    padding: 15px;
}

.tasks-list-table {
    width: 50%;
    color: black;
    border-collapse: collapse;
    margin: 0 auto;
}

.tasks-list-table  th {
    width: 33%;
    background-color: rgb(34,115,170);
    color: white;
    font-weight: normal;
}

.tasks-list-table  tr {
    text-align: center;
    border-bottom: 1px solid white;
}

.tasks-list-table  tr > td{ 
    width: 33%;
}

.submit-button {
    background-color: rgb(34,115,170);
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
}

input[type=text], input[type=number], input[type=email], input[type=tel] {
    margin-left: 10px;
    margin-right: 10px;
}

.contact-info {
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    color: black;
}

.video-promo {
    text-align: center;
}

@keyframes titleAnimation {
    100% {
        top:35%;
        opacity: 0.75;
    }
}

@keyframes logoAnimation {
    100% {
        opacity: 1;
        height: 100px;
    }
}

@keyframes subtitleAnimation {
    100% {
        left: 0%;
    }
}
