
@font-face {
    font-family: marvel;
    src: url(../fonts/Marvel-Regular.ttf);
}

* {
    font-family: marvel;
    color: black;
}

body {
    margin: 0 auto;
}

.cover-page {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/portada.jpg);
    height: 100vh;
}

.document-title {
    position: absolute;
    top: 60%;
    background-color: rgba(34,115,170,.50);
    width: 100%;
    padding-left: 25px;
}

.document-subtitle {
    position: absolute;
    top: 70%;
    background-color: rgba(34,115,170,.50);
    width: 100%;
    padding-left: 25px;
    padding-bottom: 25px;
}

.main-menu {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(34,115,170,.50);
}

.main-menu > .main-menu-list {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

.main-menu > .main-menu-list > .main-menu-item {
    display: inline-block;
    font-size: 16px;
}

.main-menu > .main-menu-list > .main-menu-item  a {
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.main-section {
    background-color: rgb(34,115,170);
}

.section-title {
    margin: 0px;
    padding: 10px;
}

.higher-studies-list {
    list-style-type: none;
}

.higher-studies-list > .higher-studies-item{
   padding: 5px;
}

.higher-studies-list > .higher-studies-item > table {
    width: 100%;
    background-color: white;
    border: 1 solid white;
    border-radius: 10px;
}

.higher-studies-list > .higher-studies-item > table .image-cell {
    width: 100px;
    text-align: center;
}

label {
    background-color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1px;
}

.footer {
    height: 25px;
    padding: 10px;
    background-color: rgb(34,115,170);
    text-align: center; 
}

.logo-image {
    width: 100px;
}

.flex-content {
    display: flex;
    flex-flow: row;
}

.flex-item {
    padding: 15px;
    flex-grow: 1;
    flex-basis: 0;
}

.plain-text {
    text-align: justify;
}


